<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Cat Fact App</h1>
     <!-- Add the link for getting a cat fact -->
    <a href="/cats/fact">Get a cat fact</a>
  </body>
</html>
